# Sensitive files

# Logs and runtime files
*.log
*.tmp

# Python cache
__pycache__/
*.pyc

# Env files
.env

# Nomad variable files
*.hcl

# Nomad runtime state and logs
nomad-data/

# Nomad allocation mounts
alloc_mounts/

# macOS system files
.DS_Store


