# A Github Actions Workflow that runs "hello-test.py" automatically on every push.

name: Run hello-test.py

on:
  push:
    branches:
      - main

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Run hello.py
        working-directory: ./scripts
        run: python hello-test.py
